@font-face {
font-family: teams;
src: url('5199-fonts/RobotWonders-6Rxd6.otf') format('opentype');
font-weight: normal;
}
@font-face {
font-family: teams;
src: url('5199-fonts/Eurostile-Extended-2-Bold.otf') format('opentype');
font-weight: bold;
}

@font-face {
  font-family: eurostile;
  src: url('5199-fonts/Eurostile-Extended-2-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
font-family: eurostile;
src: url('5199-fonts/Eurostile-Extended-2-Bold.otf') format('opentype');
font-weight: bold;
}



body{
  background-color: #003366;
  font-family: eurostile;
  font-size: 20px;
}

.table-custom {
  --bs-table-bg: transparent !important;
  --bs-table-color: #ffffff;
}

td.redColWin {
background: #FF0000 !important;
color: white;
font-family: teams;
font-size: 24px;
}
td.redColLose {
background: #cf0000 !important;
color: #dddddd;
font-family: teams;
font-size: 24px;
}

td.blueColWin {
background: #0032ff !important;
color: white;
font-family: teams;
font-size: 24px;
}
td.blueColLose {
background: #0000df !important;
color: #dddddd;
font-family: teams;
font-size: 24px;
}

td.winCol {
background: #ffffff;
font-family: teams;
}
thead.bgCol{
background: #003366;
font-family: teams;
}
td.loseCol {
background: #cccccc;
font-family: teams;
}
h1.centered {
display: inline-block;
position:absolute;
left:50vw;
transform: translate(-50%,0%);
font-family: eurostile;
}
div.heading-block{
width: 100vw;
height: 48px;
display:block;
font-family: eurostile;
}